@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

/* INITIAL SECTION */

#initial {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./img/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#initial .content header {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#initial .content header .content-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#initial .content header .content-header h1 {
    text-align: center;
    color: #ff5080;
}
#initial .content header .content-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#initial .content header .content-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
}

#initial .content header .content-header nav ul li a:hover {
    color: #ff5080;
}

#initial .content header .content-header .social a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: 0.5s;
}

#initial .content header .content-header .social a:hover{
    color: #ff5080;
}

#initial .content header .content-header .selected {
    color: #ff5080;
}

#initial .content .introduction {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initial .content .introduction .welcome {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#initial .content .introduction h2
 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#initial .content .introduction h2 span {
    font-size: 50px;
    color: #ff5080;
}

#initial .content .introduction .description {
    max-width: 700px;
    margin: 25px;
    font-size: 18px;
    text-align: center;
}

#initial .content .introduction a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#initial .content .introduction a:hover {
    background-color: #ff5080;
}

#nav-icon {
    color: #fff;
    display: none;
}

/*ABOUT ME SECTION*/
#about {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#about .photo-container {
    max-width: 400px;
    margin-right: 80px;
}

#about .photo-container img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#about .about {
    margin: 0 40px;
}

#about .about .title-section {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#about .about h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#about .about h2 span {
    color: #ff5080;
}

#about .about h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#about .about p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#about .about .download {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: 0.5s;
}

#about .about .contactMe {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 30px;
}

#about .about .download:hover,
#about .about .contactMe:hover {
    background-color: #ff5080;
    color: #fff;
}


/* SKILLS SECTION */

#skills {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#skills .title-section {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#skills .row {
    display: flex;
    justify-content: space-around;
    max-width: 1150px;
    margin: 30px auto;
}

#skills .row .skill {
    max-width: 350px;
    width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 10px 5px;
    border-radius: 5px;
    transition: 0.5s;
}

#skills .row .skill:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#skills .row .skill h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#skills .row .skill .icon{ 
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#skills .row .skill .soft {
    font-size: 23px;
}

#skills .row .skill hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#skills .row .skill p {
    font-size: 14px;
    line-height: 22px;
}

/* PROJECTS SECTION */

#projects {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#projects .title-section {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#projects .row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#projects .row .project {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#projects .row .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

#projects .row .project:hover img {
    filter: grayscale(0.7);
    /* filter: blur(2px); */
}

#projects .row .project .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 0.5s;
}
#projects .row .project .info .links a{
    text-decoration: none;
}

#projects .row .project .info .links{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-weight: bold;
}


#projects .row .project .info h4 {
    font-size: 20px;
}

#projects .row .project .info p {
    font-size: 12px;
}

#projects .row .project:hover .info {
    opacity: 1;
    bottom: 0;
}

/* CONTACT SECTION */

#contact {
    padding: 100px 15px;
}

#contact .title-section {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contact .form-container {
    max-width: 1100px;
    margin: auto;
}

#contact .form-container .row {
    margin-bottom: 15px;
}

#contact .form-container .half {
    display: flex;
    justify-content: space-between;
}

#contact .form-container input,
#contact .form-container textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contact .form-container .half input {
    width: 48%;
}

#contact .form-container .full-input {
    width: 100%;
}

#contact .send-btn {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

#contact .send-btn:hover {
    background-color: #ff5080;
    color: #fff;
}

/* FOOTER SECTION */

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer span {
    color: red;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
    transition: 0.5s;
}

footer a:hover {
    color: #ff5080;
}

/* RESPONSIVE SECTION */

@media screen and (max-width: 800px) {
    .social {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #nav-icon {
        display: block;
    }
    #initial .content .introduction h2 {
        font-size: 40px;
    }
    #about {
        padding: 50px 0;
        display: block;
    }
    #about .photo-container {
        max-width: 200px;
        margin: auto;
    }
    #about .photo-container img {
        padding: 8px;
    }
    #about .about .title-section {
        text-align: center;
    }
    #about .about h2 {
        font-size: 25px;
        text-align: center;
    }
    #about .about h3 {
        text-align: center;
    }
    #skills {
        padding: 50px 15px;
    }
    #skills .row {
        display: grid;
    }
    .skills .row .skill {
        margin: 10px auto;  
    }
    #projects {
        padding: 50px 0;
    }
    #projects .row {
        display: block;
    }
    #projects .row .project {
        margin: 10px auto;
    }
    #contact {
        padding: 50px 15px;
    }
    #contact .form-container .half {
        margin-bottom: 15px;
        display: block;
    }
    #contact .form-container .half input {
        width: 100%;
        margin-bottom: 15px;
    }
}